#container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

hr {
    border-width: 1px;
    border-color: #dcdcdc;
    margin: 10px 0;
}

.right {
    text-align: right;
}

.item-account {
    margin: 0 auto;
    padding: 0;
    color: #5b5b5b;
}

.edit {
    margin-left: 10px;
    cursor: pointer;
    cursor: hand;
}

.modal-dialog {
    width: 30%;
}

.inputHolder {
    width: 80%;
    margin: 15px auto;
}

.modal-dialog input {
    width: 100%;
    outline: none;
    padding: 7px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

.buttonHolder {
    width: 50%;
    margin: 0 auto;
}

.buttonHolder button {
    width: 42%;
    margin: 0 2%;
    margin-bottom: 30px;
}

#passwordButton {
    margin-top: 10px;
}

#change-error {
    text-align: center;
    color: #c61836;
}

@media (max-width: 1200px) {
    .modal-dialog {
        width: 50%;
    }
}

@media (max-width: 727px) {

    .buttonHolder {
        width: 70%;
    }
    .modal-dialog {
        width: 100%;
    }

    #container {
        width: 100%;
    }

    #passwordButton {
        width: 100%;
    }

    #passwordButtonDiv {
        margin: 0 auto;
        width: 70%;
    }
}